<div class = 'container'> 
    <div id = "availableBurgers">
        <ul id = 'availableList'>
            {{#each burgers}}
            {{#unless this.devoured}}
            <li class = "available-burger">
                <span class = "burgers">
                    {{this.id}}
                    {{this.burger_name}}
                </span>
                <span class = "devourButton">
                    <form action ="/{{this.id}}?_method=PUT" method = 'POST'>
                    </form>
                </span>
            </li>
            {{/unless}}
            {{/each}}
        </ul>
    </div>
    <div id = "newBurger">
        <form class = "updateForm" action ='/' method = "POST">
        
        <div class = "form">
            <textarea id ="newBurgerText" rows ="4" name = "burger_name">

            </textarea>
            <button type= "submit" id='newBurgerSubmit'>Submit</button>
        </div>
        </form>
        <p>Enter Your Favorite Burger.</p>
    </div>


</div>